@import '~raleway-webfont';
@font-face {
  font-family: 'Blithe';
  src: url('../assets/blithe-webfont.woff2') format('woff2'), url('../assets/blithe-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.font-blithe {
  font-family: 'Blithe';
}

.font-raleway {
  font-family: 'Raleway';
  font-weight: normal;
}

.wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4, .wf-loading h5, .wf-loading p, .wf-loading a, .wf-loading button {
  visibility: hidden;
}

.wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4, .wf-active h5, .wf-active p, .wf-active a, .wf-active button, .wf-inactive h1, .wf-inactive h2, .wf-inactive h3, .wf-inactive h4, .wf-inactive h5, .wf-inactive p, .wf-inactive a, .wf-inactive button {
  visibility: visible;
}

.wf-inactive h1, .wf-inactive h2, .wf-inactive h3, .wf-inactive h4, .wf-inactive h5, .wf-inactive p, .wf-inactive a, .wf-inactive button {
  font-family: sans-serif;
}

.f-3 {
  font-size: 3rem;
}

.ma-logo {
  width: 178px;
  height: 178px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.ma-logo.loaded {
  opacity: 1;
}

.ma-logo.rsvp {
  text-align: center;
  margin: 40px auto 0px;
}

.ma-logo.rsvp svg {
  max-width: 160px;
  margin: auto;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  background: #2b3038;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  color: #fff;
}

#page-wrap {
  height: 100%;
  overflow: auto;
}

#page-wrap > div, #page-wrap > div > div {
  width: 100%;
  height: 100%;
}

.page-content {
  max-width: 550px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-italic {
  font-style: italic;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.font-sm {
  font-size: 14px;
}

.f-1 {
  font-size: 1rem;
}

/* .text-inverse, nav ul.text-inverse li a {
  color: #fff;
} */

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

.z-index-1 {
  z-index: 1;
}

.block {
  display: block;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-20 {
  margin-bottom: 20px;
}

.p-0 {
  padding: 0;
}

.p-20 {
  padding: 20px;
}

.p-40 {
  padding: 40px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.list-style-none {
  list-style-type: none;
}

.pv-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pv-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

nav li a {
  display: block;
  padding: 1rem 0.5rem;
  text-decoration: none;
}

.top-nav li a {
  padding: 2rem 1.5rem;
  display: block;
  color: #fff;
  /* transition: font-weight 0.3s ease-in-out; */
}

.side-nav li a {
  color: #fff;
}

.is-active {
  font-weight: 700;
}

/* Position and sizing of burger button */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
  background: #fff;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
  right: 36px !important;
  top: 36px !important;
}

/* General sidebar styles */

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */

.bm-item {
  display: inline-block;
}

/* Styling of overlay */

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.background-cover {
  background-size: cover;
}

.page-background {
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-position .6s cubic-bezier(.22, .7, .53, .96);
}

.bg-1 {
  background-size: cover;
}

@media (max-width: 450px) {
  .bg-1 {
    background-position: -50vw center;
    /* background-size: 400%; */
  }
}

@media (min-width: 451px) and (max-width: 580px) {
  .bg-1 {
    background-position: -37vw center;
  }
}

/* @media (min-width: 450px) {
  .bg-1 {
    background-position-x: -75vw;
  }
}

@media (min-width: 580px) {
  .bg-1 {
    background-position-x: -50vw;
  }
}

@media (min-width: 768px) {
  .bg-1 {
    background-position-x: -33vw;
  }
} */

.page-background::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.initial-load .page-home {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.initial-load-complete .page-home {
  opacity: 1;
}

.bg-1 {
  background-image: url('../assets/santorini-1.01.jpg');
}

.bg-2 {
  background-image: url('../assets/santorini-2.jpg');
}

.bg-3 {
  background-image: url('../assets/santorini-3.0.1.jpg');
}

.bg-4 {
  background-image: url('../assets/fort-common-3.jpg');
}

.bg-5 {
  background-image: url('../assets/ferris-wheel.jpg');
  background-size: cover;
}

.button {
  min-height: 60px;
  margin-top: 23px;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
  padding: 0;
  color: #fff;
  background: rgba(43, 48, 56, .75);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  display: block;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  border-color: #ab9c95;
  background: rgba(43, 48, 56, 1);
  color: #fff;
}

.button.scale {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.button.scale:hover {
  transform: scale(1);
}

/* .button a {
  color: #fff;
  background: rgba(43, 48, 56, .75);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  display: block;
  transition: all 0.3s ease-in-out;
  transform: scale(0.9);
}

.button a::after:hover {
  border-color: #fff;
} */

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: all 300ms ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: all 300ms ease-out;
}

.isvg {
  width: 100%;
}

.input-group.radio {
  background-color: #fff;
  display: block;
  margin: 23px 0 10px;
  position: relative;
}

.input-group.radio label {
  padding: 12px 20px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3c454c;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}

.input-group.radio label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background-color: #d69e8b;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(0.5, 0.5, 0.5);
  transform: translate(-50%, -50%) scale3d(0.5, 0.5, 0.5);
  transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

@media (min-width: 768px) {
  .input-group.radio label:before {
    -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.input-group.radio label:after {
  width: 32px;
  height: 32px;
  content: "";
  border: 2px solid #d1d7dc;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.input-group.radio input:checked~label {
  color: #1e2227;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.input-group.radio input:checked~label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

.input-group.radio input:checked~label:after {
  background-color: #1e2227;
  border-color: #1e2227;
}

.input-group.radio input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  font-weight: 600;
  line-height: 36px;
}

.float-label .control {
  position: relative;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 10px;
}

.float-label .control.small {
  width: 30%;
  border-right: 1px solid #ddd;
}

.float-label .control.medium {
  width: 70%;
  padding-left: 10px;
}

.float-label .control:last-child {
  border: 0;
}

.float-label input[type='text'], .float-label textarea {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  resize: none;
  height: 50px;
  padding: 0 20px;
  border-radius: 0;
}

.float-label input[type='text']+label, .float-label textarea+label {
  position: absolute;
  top: 10px;
  transition: top 0.7s ease, opacity 0.7s ease;
  opacity: 0;
  font-size: 13px;
  font-weight: 600;
  color: #ccc;
}

.float-label input[type='text']:valid+label, .float-label textarea:valid+label {
  opacity: 1;
  top: -7px;
}

.float-label input[type='text']:focus+label, .float-label textarea:focus+label {
  color: #fff;
  opacity: 1;
  top: -7px;
}

.float-label input::-webkit-input-placeholder {
  transition: color 0.3s ease-in-out;
}

.float-label input:focus::-webkit-input-placeholder {
  color: transparent;
}

.float-label input:focus:-moz-placeholder {
  color: transparent;
}